a {
  text-decoration: none;
  font-weight: bolder !important;
}
.navbar {
  background-color: rgba(250,250,250,0.3);
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}
.links {
  display: flex;
  position: relative;
}
.links a {
  color: #202020;
  font-size: 1.27em;
  font-weight: 400;
  padding: 0.5em 1em;
  border-radius: 0.75rem;
}
nav a.router-link-exact-active {
  color: var(--bs-success);
}

.todos {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.todos .card {
  flex: 0 0 100%;
}

@media (min-width: 992px) {
  .todos .card {
    flex: 0 0 calc(50% - 1em);
  }
}

@media (min-width: 1200px) {
  .todos .card {
    flex: 0 0 calc(33.333333% - 1em);
  }
}
